In [127]:
import pandas as pd
import numpy as np

In [128]:
df=pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [130]:
df.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [131]:
df['Age'].isnull().sum()

9390

In [132]:
Age_mode=df['Age'].mode()[0]
Age_mode

'18+'

In [133]:
l=['Age','IMDb','Rotten Tomatoes','Directors','Genres','Country','Language','Runtime']
for col in df.columns:
    print(col,":",df[col].isnull().sum())

Unnamed: 0 : 0
ID : 0
Title : 0
Year : 0
Age : 9390
IMDb : 571
Rotten Tomatoes : 11586
Netflix : 0
Hulu : 0
Prime Video : 0
Disney+ : 0
Type : 0
Directors : 726
Genres : 275
Country : 435
Language : 614
Runtime : 592

In [134]:
for col in df.columns:
    if df[col].isnull().any():
        print(col,df[col].isnull().sum(),sep='->')

Age->9390
IMDb->571
Rotten Tomatoes->11586
Directors->726
Genres->275
Country->435
Language->614
Runtime->592

In [135]:
df['Age'].unique()

array(['13+', '18+', '7+', nan, 'all', '16+'], dtype=object)

In [136]:
df['Age'].value_counts()

Age
18+    3474
7+     1462
13+    1255
all     843
16+     320
Name: count, dtype: int64

In [137]:
df['Age']=df['Age'].fillna(Age_mode)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              16744 non-null  object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [138]:
for col in ['IMDb','Runtime']:
    df[col]=df[col].fillna(df[col].mean())
for col in ['Directors','Genres','Country','Language']:
    dfcol=df[col].fillna('unknown')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              16744 non-null  object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [140]:
df['Rotten Tomatoes']

0        87%
1        87%
2        84%
3        96%
4        97%
        ...
16739    NaN
16740    NaN
16741    NaN
16742    NaN
16743    NaN
Name: Rotten Tomatoes, Length: 16744, dtype: object

In [141]:
df['Rotten Tomatoes']=df['Rotten Tomatoes'].str.removesuffix('%').astype('float')

In [142]:
df['Rotten Tomatoes']

0        87.0
1        87.0
2        84.0
3        96.0
4        97.0
         ...
16739     NaN
16740     NaN
16741     NaN
16742     NaN
16743     NaN
Name: Rotten Tomatoes, Length: 16744, dtype: float64

In [143]:
Rotten_mean=df['Rotten Tomatoes'].mean()
df['Rotten Tomatoes']=df['Rotten Tomatoes'].fillna(Rotten_mean)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              16744 non-null  object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  16744 non-null  float64
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.2+ MB

In [144]:
df['Rotten Tomatoes']=(df['Rotten Tomatoes']/10).round(1)
df['Rotten Tomatoes']

0        8.7
1        8.7
2        8.4
3        9.6
4        9.7
        ...
16739    6.5
16740    6.5
16741    6.5
16742    6.5
16743    6.5
Name: Rotten Tomatoes, Length: 16744, dtype: float64

In [145]:
df['IMDb']=df['IMDb'].round(1)
df['Runtime']=df['Runtime'].round(1)

In [146]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,18+,6.2,6.5,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,6.5,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,18+,5.7,6.5,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.4
16742,16742,16743,Man Among Cheetahs,2017,18+,6.6,6.5,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.4
16743,16743,16744,In Beaver Valley,1950,18+,5.9,6.5,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [147]:
df['Type'].unique()

array([0], dtype=int64)

In [148]:
#df=df.drop(columns=['Unnamed: 0','Rotten Tomatoes'])
df=df.drop(columns=['ID'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   Title            16744 non-null  object
 2   Year             16744 non-null  int64
 3   Age              16744 non-null  object
 4   IMDb             16744 non-null  float64
 5   Rotten Tomatoes  16744 non-null  float64
 6   Netflix          16744 non-null  int64
 7   Hulu             16744 non-null  int64
 8   Prime Video      16744 non-null  int64
 9   Disney+          16744 non-null  int64
 10  Type             16744 non-null  int64
 11  Directors        16018 non-null  object
 12  Genres           16469 non-null  object
 13  Country          16309 non-null  object
 14  Language         16130 non-null  object
 15  Runtime          16744 non-null  float64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.0+ MB

In [149]:
df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [150]:
pd.melt(df,id_vars=['Title'],value_vars=['Netflix','Hulu','Prime Video','Disney+'])

                                Title variable  value
0                           Inception  Netflix      1
1                          The Matrix  Netflix      1
2              Avengers: Infinity War  Netflix      1
3                  Back to the Future  Netflix      1
4      The Good, the Bad and the Ugly  Netflix      1
...                               ...      ...    ...
66971       The Ghosts of Buxley Hall  Disney+      1
66972                  The Poof Point  Disney+      1
66973           Sharks of Lost Island  Disney+      1
66974              Man Among Cheetahs  Disney+      1
66975                In Beaver Valley  Disney+      1

[66976 rows x 3 columns]

In [151]:
plat_df=pd.melt(df,id_vars=['Title','IMDb','Runtime'],value_vars=['Netflix','Hulu','Prime Video','Disney+'],
                var_name='platforms',value_name='Availability')

In [152]:
plat_df

                                Title  IMDb  Runtime platforms  Availability
0                           Inception   8.8    148.0   Netflix             1
1                          The Matrix   8.7    136.0   Netflix             1
2              Avengers: Infinity War   8.5    149.0   Netflix             1
3                  Back to the Future   8.5    116.0   Netflix             1
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix             1
...                               ...   ...      ...       ...           ...
66971       The Ghosts of Buxley Hall   6.2    120.0   Disney+             1
66972                  The Poof Point   4.7     90.0   Disney+             1
66973           Sharks of Lost Island   5.7     93.4   Disney+             1
66974              Man Among Cheetahs   6.6     93.4   Disney+             1
66975                In Beaver Valley   5.9     32.0   Disney+             1

[66976 rows x 5 columns]

In [154]:
# plat_df=plat_df.loc[plat_df['Availability']==1]
# plat_df=plat_df.drop(columns=['Availability'])

In [158]:
# plat_df=plat_df.loc[plat_df['Availability']==1],['Title','IMDb','Runtime','platforms']]

In [159]:
plat_df

                                Title  IMDb  Runtime platforms
0                           Inception   8.8    148.0   Netflix
1                          The Matrix   8.7    136.0   Netflix
2              Avengers: Infinity War   8.5    149.0   Netflix
3                  Back to the Future   8.5    116.0   Netflix
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix
...                               ...   ...      ...       ...
66971       The Ghosts of Buxley Hall   6.2    120.0   Disney+
66972                  The Poof Point   4.7     90.0   Disney+
66973           Sharks of Lost Island   5.7     93.4   Disney+
66974              Man Among Cheetahs   6.6     93.4   Disney+
66975                In Beaver Valley   5.9     32.0   Disney+

[17381 rows x 4 columns]

In [162]:
plat_df=plat_df.reset_index(drop=True)

In [163]:
plat_df

                                Title  IMDb  Runtime platforms
0                           Inception   8.8    148.0   Netflix
1                          The Matrix   8.7    136.0   Netflix
2              Avengers: Infinity War   8.5    149.0   Netflix
3                  Back to the Future   8.5    116.0   Netflix
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix
...                               ...   ...      ...       ...
17376       The Ghosts of Buxley Hall   6.2    120.0   Disney+
17377                  The Poof Point   4.7     90.0   Disney+
17378           Sharks of Lost Island   5.7     93.4   Disney+
17379              Man Among Cheetahs   6.6     93.4   Disney+
17380                In Beaver Valley   5.9     32.0   Disney+

[17381 rows x 4 columns]